# Символ "*" соответствует любым * или более символам.
# [abc] соответствует любому символу из указанных в скобках
# [a-z] [0-9] соответствует любому символу из интервала от a до z, от 0 до 9
# Символ "?" соответствует любому одному символу
# a/**/z - "**" соответствуют вложенности каталогов
# "!" инвертирует правило


# Исключате файл some.temp
some.temp

# Исключить все файлы с расширением .a
*.a

# Но отслеживать файл lib.a, даже если он попадает под исключени выше
!lib.a

# Игнорировать все файлы в каталоге build/
build/

# Игнорировать файлы doc/notes.txt, но не файлы doc/server/arch.txt
doc/*.txt

# Игнорировать все .txt файлы в каталоге doc/
doc/**/*.txt
